* {
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  background: #374954;
  color: white;
  text-align: center;
}

#main {
  position: relative;
  list-style: none;
  background: #6BBE92;
  font-weight: 400;
  font-size: 0;
  text-transform: uppercase;
  display: inline-block;
  padding: 0;
  margin: 30px auto;
}
#main li {
  font-size: 1.6rem;
  display: inline-block;
  position: relative;
  padding: 8px 10px;
  cursor: pointer;
  min-width: 120px;
}

li {
  margin: 30;
}

input{
  color: #6BBE92;
}

#marker {
  height: 6px;
  background: #3E8760 !important;
  position: absolute;
  bottom: 0;
  width: 120px;
  z-index: 2;
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  -ms-transition: all 0.35s;
  transition: all 0.35s;
}

#form_growl {
  float: left;
  margin-left: 20%;
  padding: 10px 25px;
}

.growls {
  float: right;
  margin-right: 20%;
  padding: 10px 25px;
}
.growls h3 {
  border-bottom: 1px solid #3E8760;
}
