<h3>Create your profile.</h3>

<form name="form_user" id="form_user" action="/users" method="post">
  Username:<br>
  <input type="text" placeholder="What do you want to be called?" name="user[name]"><br>
  <br><br>
  <input type="submit" value="Go Growl at somebody">
</form>
