
<h3>Tell me what really grinds your gears?</h3>

<form name="form_growl" id="form_growl" action="/growls" method="post">
  Growl:<br>
  <input type="text" placeholder="you're the dog now, man!" name="growl[grr]"><br>
  Big dog:<br>
  <input type="text" placeholder="username" name="growl[user_id]"><br>
  <br><br>

  <input type="submit" value="Growl at it">
</form>
