<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Growler</title>

    <link rel="stylesheet" type="text/css" href="https://bootswatch.com/readable/bootstrap.min.css">
  </head>
  <body>

    <nav>
      <ul id="main">
        <li>Growls</li>
        <li>New Dog</li>
        <li>Dog Pen
          <ul class="drop">
            <div>
              <li>scss</li>
              <li>jquery</li>
              <li>html</li>
            </div>
          </ul>
        </li>
        <li>Contact</li>
        <div id="marker"></div>
      </ul>
    </nav>

    <div class = 'container'>
      <%= yield %>
    </div>
  </body>
</html>
